* {
  box-sizing: border-box;
}
header {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
}

.book-container {
  margin-bottom: 10px;
}

.title-row {
  justify-content: space-between;
  align-content: stretch;
  margin: 0;
  background-color: rgb(173, 171, 171);
  width: 80%;
  padding: 0.5em;
}

.book-list {
  border: solid 2px rgb(199, 199, 199);
  width: 80%;
  margin-inline-start: 20px;
}

.book-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.second-row {
  background-color: rgb(221, 218, 218);
}

.title {
  flex: 1;
  padding-left: 10px;
}

.price {
  flex: 0.5;
  text-align: center;
}

.actions {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button.read {
  background-color: rgb(108, 181, 206);
}

button.update {
  background-color: rgb(229, 229, 112);
}

button.delete {
  background-color: rgb(252, 146, 65);
}

button:focus {
  outline: none;
}
