* {
  box-sizing: border-box;
}
:root {
  --modal-color: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  --body-color: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  --margin-from-text: 1em;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: var(--body-color);
}

body {
  display: flex;
  padding-top: 20px;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  gap: 10px;
  overflow-x: hidden;
}

.title {
  text-transform: capitalize;
}

header {
  padding: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  max-width: 150px;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;

  font-size: 24px;
  font-weight: normal;
}

p{
  margin: 0;
  text-wrap: pretty;

}

.functionality-btns {
  max-width: 980px;
  margin: 0 auto;
  padding: 0px 10px;
  padding-top: 10px;
  text-transform: capitalize;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 300px;
  min-height: 300px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.book-card img {
  width: 40%;
}

.book-card p {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}

.books-list {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  padding: 10px;
  min-width: 850px;
  max-width: 1300px;
  font-size: 1.2rem;
  box-shadow: 0px 0px 5px 0px #00000091;
  margin-top: 10px;
}

.head-table {
  height: 20%;
  background: rgb(151, 157, 163);
}

.body-table {
  min-height: 70%;
}

td {
  border: 1px solid rgb(184, 184, 184);
  height: 50px;
  min-width: 212px;
  max-width: 325px;
}

.second-row {
  background-color: rgb(221, 218, 218);
}

.book-details {
  border: 0;
  padding: 0;
  background-image: var(--modal-color);
  color: rgb(0, 0, 0);
  width: 85%;
  font-size: 20px;
  max-height: 80%;
}

.book-details form {
  padding: 30px 20px;
  columns: 2 200px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  overflow: hidden;
  padding: 30px 0px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  column-span: all;
  font-size: 25px;
  font-weight: 500;
}

.book-cover-img img {
  display: block;
  max-width: 100%;
  grid-template-areas: 1/-2;
  margin-inline-start: var(--slide-out);
  box-shadow: 5px 5px 50px -1px #ffffff;
}

.book-desc {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}


.book-desc .desc {
  margin: 0;
}

.close {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: large;
  cursor: pointer;
  background-color: lightgoldenrodyellow;
}

button {
  border: 1px solid whitesmoke;
  background: #65a9d7;
  padding: 5px 10px;
  border-radius: 8px;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: rgb(0, 0, 0);
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
}
.span.sort.name-asc,
.span.sort.name-des {
  cursor: pointer;
}

button.add-book {
  align-self: flex-start;
}

button.read {
  background-color: rgb(108, 181, 206);
}

button.update {
  background-color: rgb(225, 225, 68);
}

button.delete {
  background-color: rgb(252, 146, 65);
}
.btn-option {
  border: none;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.layout-box-btn {
  max-width: 15px;
  height: 100%;
}

.filter-book {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.user-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 300px;
  text-align: center;
}

.hide {
  display: none;
}
.page-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.page-btns .prevPage {
  justify-self: end;
}
.page-btns .nextPage {
  justify-self: start;
}

/* .confirm-msg {
  font-size: 18px; 
  margin-bottom: 10px; 
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px; 
}

.confirm-btn {
  border: none;
  background-color: #65a9d7; 
  color: white; 
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */
