* {
  box-sizing: border-box;
}

header {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
}

.title-row {
  margin: 0;
  background-color: rgb(173, 171, 171);
  padding: 0.5em;
}


.books-list {
  width: 80%;
  margin-inline-start: 20px;
  border: solid 2px rgb(199, 199, 199);
}

.books-list table{
  width: 100%;
  border-collapse: collapse;
}

.books-list th,
.books-list td {
  border:  solid 2px rgb(199, 199, 199);
  padding: 8px;
  text-align: left; 
}

.second-row {
  background-color: rgb(221, 218, 218);
}

.book-details{
  padding: 10px;
  background-color: lightblue;
  border: 1px solid rgb(224, 255, 255);
}


button {
  padding: 5px 10px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

button.read {
  background-color: rgb(108, 181, 206);
}

button.update {
  background-color: rgb(229, 229, 112);
}

button.delete {
  background-color: rgb(252, 146, 65);
}

button:focus {
  outline: none;
}
